
src/antaress/ANTARESS_plots/.DS_Store
src/antaress/ANTARESS_process/.DS_Store
src/antaress/ANTARESS_launch/.DS_Store
src/antaress/ANTARESS_grids/.DS_Store
src/antaress/ANTARESS_general/.DS_Store
src/antaress/ANTARESS_conversions/KitCat/.DS_Store
src/antaress/ANTARESS_conversions/.DS_Store
src/antaress/.DS_Store
src/.DS_Store
Notebooks/.DS_Store
Docs/source/Fixed_files/.DS_Store
Docs/source/_templates/.DS_Store
Docs/source/_static/.DS_Store
Docs/source/.DS_Store
Docs/.DS_Store
.DS_Store
Notebooks/.DS_Store
src/antaress/ANTARESS_conversions/KitCat/__pycache__/__init__.cpython-38.pyc
src/antaress/ANTARESS_conversions/KitCat/__pycache__/Kitcat_classes.cpython-311.pyc
src/antaress/ANTARESS_conversions/KitCat/__pycache__/Kitcat_classes.cpython-38.pyc
src/antaress/ANTARESS_conversions/KitCat/__pycache__/Kitcat_functions.cpython-311.pyc
src/antaress/ANTARESS_conversions/KitCat/__pycache__/Kitcat_functions.cpython-38.pyc
src/antaress/ANTARESS_conversions/KitCat/__pycache__/KitCat_main.cpython-38.pyc
src/antaress/ANTARESS_conversions/KitCat/__pycache__/setup_lbl_fit.cpython-38.pyc
src/antaress/ANTARESS_launch/__pycache__/__init__.cpython-311.pyc
src/antaress/ANTARESS_launch/__pycache__/__init__.cpython-38.pyc
src/antaress/ANTARESS_launch/__pycache__/ANTARESS_gridrun.cpython-311.pyc
src/antaress/ANTARESS_launch/__pycache__/ANTARESS_gridrun.cpython-38.pyc
src/antaress/ANTARESS_launch/__pycache__/ANTARESS_launcher.cpython-311.pyc
src/antaress/ANTARESS_launch/__pycache__/ANTARESS_launcher.cpython-38.pyc
src/antaress/ANTARESS_launch/__pycache__/ANTARESS_settings.cpython-311.pyc
src/antaress/ANTARESS_launch/__pycache__/ANTARESS_settings.cpython-38.pyc
src/antaress/ANTARESS_launch/__pycache__/ANTARESS_settings_bourrier.cpython-311.pyc
src/antaress/ANTARESS_launch/__pycache__/ANTARESS_settings_bourrier.cpython-38.pyc
src/antaress/ANTARESS_launch/__pycache__/ANTARESS_systems.cpython-311.pyc
src/antaress/ANTARESS_launch/__pycache__/ANTARESS_systems.cpython-38.pyc
src/antaress/ANTARESS_launch/__pycache__/ANTARESS_systems_bourrier.cpython-311.pyc
src/antaress/ANTARESS_launch/__pycache__/ANTARESS_systems_bourrier.cpython-38.pyc
Notebooks/.ipynb_checkpoints/ANTARESS_nbook_CCFmask-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/ANTARESS_nbook_CCFmask-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/ANTARESS_nbook_mock_TOI178-checkpoint.ipynb
Docs/source/Fixed_files/Flowchart/Images.pptx
src/antaress/ANTARESS_corrections/Telluric_processing/.DS_Store
src/antaress/ANTARESS_corrections/Telluric_processing/Static_model/.DS_Store
src/antaress/ANTARESS_corrections/Telluric_processing/Static_resolution/.DS_Store
